
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
    list-style: none;
    
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    max-height: 100%;
    background: hsl(36, 100%, 99%);
}

.cover{
    width: 1200px;
    background: hsl(36, 100%, 99%);
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: rem;   
}

nav li{
    display: inline-block;
    padding: 1.2rem;
}

.bar{
    display: flex;
    justify-content: space-between;
    width: 500px;
    color:  hsl(236, 13%, 42%);
    font-size: 400;
    text-decoration: none;
}

.menuicon{
    display: none;
}
.menuclose{
    display: none;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}


img{
    max-width: 95%;
    max-height: 100%;
}

.webmgs{
    display: none;
}


.text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    padding-top: 1em;
}

h1{
    font-size: 50px;
    color: hsl(240, 95%, 9%);
    width: 6em;
    line-height: 3rem;

}

.read{
    width: 23em;
    color: hsl(236, 13%, 42%);

}

button{
    color: hsl(36, 100%, 99%);
    background-color:  hsl(5, 85%, 63%);
    padding: 1em 2.2em;
    margin-top: 2em;
    letter-spacing: 4px;
    border: none;
}

.web{
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    max-width: 360px;
    height: 30em;
    padding: 2em;

}

h3{
    color: hsl(35, 77%, 62%);
    font-size: 2em;
    /* padding: 1em 0; */
}

.new{
    margin: 1em 0;
    width: 19em;
    
}
.none{
    border-bottom: .1px inset hsl(36, 100%, 99%);
    padding-bottom: 2rem;
    padding-top: 1rem;
    opacity: .5;
    filter: blur(.7px);

}


.new .bold{
    color: rgb(247, 241, 241);
    filter: blur(.5px);
}

 footer{
    display: flex;
    flex-direction: row;
}
.img{
    width: 7rem;
} 
.gaming{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* justify-content: space-between; */
}

.num{
    padding-left: 1rem;
}
h4{
    color: hsl(233, 8%, 79%);
    font-size: 1.2rem;
}

h5{
    color: hsl(240, 100%, 5%);
    padding: .5rem 0;
    font-size: 1.3rem;

}

.num p{
    color: hsl(233, 8%, 79%);
}

.bar.active{
    cursor: pointer;
}

.dropdown a:hover{
    color: hsl(5, 85%, 63%);
    transition: transform .2s ease-in;
    cursor: pointer;
    
}


.num h5:hover{
    color: hsl(5, 85%, 63%);
    transition: transform .2s ease-in;
    cursor: pointer;
}

.bold:hover{
    color:  hsl(35, 77%, 62%);
    transition: transform .2s ease-in;
    cursor: pointer;
}


@media (max-width: 700px) {
    body{
        margin: auto;
        display: flex;
        max-width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        background: hsl(36, 100%, 99%);
        position: relative;
    }
    
    .cover{
        max-width: 300px;
        padding: 1rem .5rem;
        background: hsl(36, 100%, 99%);
        align-items: center;
        justify-content: center;
        position: relative;
        
    
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;  
        position: relative; 
    }

    .bar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        color:  hsl(110, 83%, 37%);
        font-size: 400;
        text-decoration: none;
        position: absolute;
        top: -10%;
       
    }


    nav a{
        color: hsl(236, 13%, 42%);
        padding: 2rem ;
        font-size: 1.2rem;
        line-height: 3rem;
        filter: blur(.3px);
        
    }

    nav ul{
        padding-top: 5rem;
    }

    .backdrop{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.75);
        pointer-events: none;
        z-index: 10;
        display: none;

    }

    .backdrop.visible{
        display: block;
        pointer-events: all;

    }
    .dropdown{
        position: absolute;
        top: 100%;
        right: -5%;
        width: 13rem;
        height: 570px;
        max-height: 570px;
        background: hsl(36, 100%, 99%);
        display: none;
        /* overflow: hidden; */
        transition: max-height 0.5s;
        z-index: 100;
        padding: 10px;
    }

    .disable{
        display: none;
        
    }

    .enable{
        display: block;
    }

    .menuclose{
        float: right;
        
    }

    
    nav li{
        display: block;
        padding: 0rem;
    }
    
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 0;
    }
    
    
    img{
        max-width: 95%;
        max-height: 100%;
    }
    
    .webmgs{
        display: inline-block;
        width: 280px;
    }
    
    
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        padding-top: 1em;
    }
    
    h1{
        font-size: 40px;
        line-height: 40px;
        color: hsl(240, 95%, 9%);
        width: 7em;
    
    }
    
    .read{
        width: 19em;
        font-size: 15px;
        line-height: 1.4rem;
        color: hsl(236, 13%, 42%);
    
    }
    
    button{
        color: hsl(36, 100%, 99%);
        background-color:  hsl(5, 85%, 63%);
        padding: 1em 2.2em;
        margin: 2em 0;
        letter-spacing: 4px;
        border: none;
    }
    .webmg{
        display: none;
    }
    
     footer{
        display: flex;
        flex-direction: column;
     }
     .web{
        background: hsl(240, 100%, 5%);
        color: hsl(36, 100%, 99%);
        max-width: fit-content;
        height: 25em;
        padding: 1em;
    
    }
    
    h3{
        color: hsl(35, 77%, 62%);
        font-size: 2em;
    }
    
    .new{
        margin: 1em 0;
        width: 19em;
        font-size: 15px;
        
    }
    .none{
        border-bottom: .1px inset hsl(36, 100%, 99%);
        padding-bottom: 1rem;
        padding-top: 1rem;
        opacity: .5;
        filter: blur(.3px);
    
    }
    
    
    .new .bold{
        color: rgb(247, 241, 241);
        filter: blur(.5px);
    }
    
    
    .img{
        width: 6rem;
    
    }
    .gaming{
        display: flex;
        flex-direction: row;
       
    }
    
    .num{
        padding-left: 1rem;
    }
    h4{
        color: hsl(233, 8%, 79%);
        font-size: 1rem;
    }
    
    h5{
        color: hsl(240, 100%, 5%);
        padding: .5rem 0;
        font-size: 1rem;
    
    }

    .num p{
        color: hsl(233, 8%, 79%);
        font-size: 12px;
        width: 11rem;
    }
    .menuicon{
        display: inline-block;
    }
    .menuclose{
        display: block;
    }

    
    



    
}